@import '../../variables.scss';
@import '../../mixins.scss';

.button_new_product {
  display: flex;
  align-items: center;
  padding: pxToRem(10px) pxToRem(20px);

  outline: none;
  border: none;
  border-radius: $border_radius;

  background-color: $light_gray_color;

  transition: all 200ms;

  &>span {
    display: none;
    margin-left: pxToRem(20px);

    font-size: pxToRem(16px);
    font-weight: 500;
    color: $black_color;
  }

  &:hover {
    background-color: $primary_color;

    &>span {
      display: inline-block;
    }
  }

  &:active {
    background-color: $primary_dark_color;
  }
}

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 60px 1fr 1fr 1fr 1fr 50px;
  gap: pxToRem(4px);
  margin-top: pxToRem(30px);

  .cell {
    width: 100%;
    height: pxToRem(50px);
    padding: pxToRem(4px) pxToRem(12px);    

    cursor: pointer;

    transition: all 200ms;
  }
  
  .head_title {
    display: flex;
    align-items: center;

    background-color: $light_gray_color;
    font-weight: 500;

    border-radius: $border_radius;

    cursor: default;
  }

  .input {
    background-color: transparent;
    outline: none;
    border: 2px solid transparent;
    border-radius: pxToRem(3px);

    &:hover {
      background-color: $light_gray_color;
    }

    &:focus{
      border: 2px solid $blue_color;
      border-radius: $border_radius;

      cursor: text;
    }
  }

  .checkbox {
    accent-color: $primary_color;
    border-radius: pxToRem(10px);
  }

  .delete_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: pxToRem(27px);
    height: pxToRem(27px);

    outline: none;
    border: transparent;
    background-color: transparent;
    border-radius: pxToRem(4px);

    & .delete_icon {
      opacity: 0;

      transition: all 300ms;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      background-color: $red_color;
    }
    &:active {
      transform: scale(1.2);
      border: 1px solid $gray_color;
    }
  }
}
